# Next.js
.next/
out/
node_modules/
dist/

# Vercel
.vercel

# Env
.env
.env.local
.env.production
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
coverage/
.nyc_output/
.turbo/

# Old Expo
.expo/
web-build/
android/
ios/
